body {
    background-color: #30E3DF;
}

h1 {
    font-family: 'Climate Crisis', cursive;
    text-align: center;
    margin: 0;
    top: 0;
}

.top-container{
    color:#F0A04B;
}

h2 {
    text-align: center;
    font-family: 'Climate Crisis', cursive;
}

h3 {
    text-align: center;
    font-family: 'Climate Crisis', cursive;
}

.card {
    background-color:#F0A04B;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

